@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

/* a {
  @apply text-yellow-800;
} */

@layer components {
  .stories-grid {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 20rem;
  }

  .bg-skeleton {
    @apply bg-gray-500;

    animation: bg 1s alternate infinite ease-in-out;
  }

  .element {
    @apply border-2 border-black rounded-lg;
  }
}

@keyframes bg {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.8;
  }
}
